* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover  {
    opacity: 0.7;
}


header {
    background-color: black;
    color: #fff;
    padding: 15px;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dropbtn {
    background-color: black;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;   
    flex-wrap: wrap;
}

.navbar a {
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: #444;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .dropdown {
        display: none;
    }

    .navbar {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 1.5rem;
    }
    
    .dropbtn {
        font-size: 0.9rem;
        padding: 8px;
    }

    .navbar a {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 20px;
}

.footer-secao {
    flex: 1;
    padding: 0 15px;
    max-width: 200px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
}

#tira-o-inferno-do-sublinhado {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
}

.footer-secao h3{
    font-size: 18px;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
}

.footer-lema {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: center;
    }
    .footer-secao {
        max-width: 150px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-content{
        flex-direction: column;
        align-items: center;
    }

    .footer-secao {
        max-width: 100%;
        text-align: center;
    }

    .footer-lema {
        font-size: 12px;
    }
}

.div-roupa-index {
    background-color: white;
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    height: auto;
    display: flex;
    text-align: left;
    color: black;
    margin: 10px 0;
    border: 1px solid;
    font-family: "Bebas Neue", sans-serif;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.div-roupa-index > h2{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    margin-bottom: 15px;
}

.div-roupa-index::before {
    margin: 40px;
}

.p-mais-vendas {
    color: red;
    font-family: "Bebas Neue", sans-serif;
    opacity: 0.7;
    text-decoration: underline;
    font-size: large;
}


.acesso-pagina-index {
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.emoji-mais-vendas {
    font-size: large;
    margin-left: 25px;
}

.div-roupa {
    background-color: white;
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    height: auto;
    display: flex;
    text-align: left;
    color: black;
    margin: 10px 0;
    border: 1px solid;
    font-family: "Bebas Neue", sans-serif;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.frete {
    font-family: "Bebas Neue", sans-serif;
    color: green;
}

.div-roupa > h2{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    margin-bottom: 15px;
}

.div-roupa::before {
    margin: 40px;
}



.acesso-pagina {
    color: gray;
    opacity: 0.7;
    font-size: 30px;
    margin-left: 60px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
}

.acesso-pagina:hover {
    color: black;
    opacity: 1;
}
.atual-pagina {
    color: black;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}

.centro {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    background-color: white;
}

.preco {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.tamanho{
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    font-family: "Bebas Neue", sans-serif;
    margin: 0 10px;
}

#unico-li {
    margin-left: 0;
}

.carrinho {
    background-color: black;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: auto;
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    border: 1px solid black;
}

.carrinho .button-text {
    position: relative;
    z-index: 2;
    transition: color 0.4s ease;
}

.carrinho::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: transform 0.4s ease;
    transform: translateX(0);
    z-index: 1;
    border-radius: 12px;
}

.carrinho.hovered::before {
    transform: translateX(100%);
}

.carrinho.hovered .button-text {
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 1024px) {
    .div-roupa-index {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    
    .carrinho {
        font-size: 20px;
        padding: 16px;
    }
 }

@media (max-width: 1024px) {
    .div-roupa {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .carrinho {
        font-size: 20px;
        padding: 16px;
    }
}

 @media (max-width: 768px) {
    .div-roupa-index {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .carrinho {
        font-size: 16px;
        padding: 14px;
    }
 }

 @media (max-width: 768px) {
    .div-roupa {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
        margin: 0 auto;
    }

    .carrinho {
        font-size: 16px;
        padding: 14px;
    }
 }

 @media (max-width: 480px) {
    .div-roupa-index {
        flex: 1 1 90%;
        max-width: 90%;
        margin: 0 auto;
    }

    .carrinho {
        font-size: 20px;
        padding: 16px;
    }
 }

 @media (max-width: 480px) {
    .div-roupa {
        flex: 1 1 90%;
        max-width: 90%;
        margin: 0 auto;
    }

    .carrinho {
        font-size: 20px;
        padding: 16px;
    }
 }